{{ "<!-- jQuery -->" | safeHTML }}
<script src="{{ "js/jquery-v3.3.1/jquery.min.js"| absURL }}"></script>

{{ "<!-- Bootstrap Core -->" | safeHTML }}
<script src="{{ "js/bootstrap-v3.3.7/bootstrap.min.js"| absURL }}"></script>

{{ "<!-- Math Jax -->" | safeHTML }}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

{{ "<!-- Custom Theme -->" | safeHTML }}
<script src="{{ "js/agency.js"| absURL }}"></script>

{{ "<!-- Owl carousel -->" | safeHTML }}
<script src="{{ "js/owl.carousel.min.js"| absURL }}"></script>

<script>
$(document).ready(function(){
var owl = $(".owl-carousel");
owl.owlCarousel({
          responsiveClass:true,
          responsive : {
              // breakpoint from 0 up
              0 : {
              items : 1
              },
              // breakpoint from 768 up
              768 : {
              items : 2
              },
              // breakpoint from 992 up
              992 : {
              items : 3
              }
            },
          loop:true,
          margin:50,
          autoplay:true,
          autoplayTimeout:4000,
          autoplayHoverPause:true,
          dotsEach:true,
          smartSpeed:1000
      });
});
</script>

{{ template "_internal/google_analytics_async.html" . }}

{{ if .Site.Params.analytics.piwik }}
  {{ partial "_analytics/piwik.html" . }}
{{ end }}

{{ range .Site.Params.custom_js }}
  <script src="{{ . | absURL }}"></script>
{{ end }}
