<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<title>matthias schnetzer</title>

{{ partial "head.html"  }}
{{ partial "nav.html" . }}
{{ $baseurl := .Site.BaseURL }}

<div class="artcl-header">
  <div class="artcl-heading">
    {{ .Title }}
  </div>
  <div class="artcl-info">
    {{ if .Params.origlink }} <i class="fas fa-pencil-alt"></i> <a target="_blank" href="{{ .Params.origlink }}">Originalbeitrag</a> <span style="display:inline-block; width: 20px"></span> {{ end }}
    <i class="far fa-calendar-alt"></i> {{ .Date.Format "2.1.2006" }} <span style="display:inline-block; width: 20px"></span>
    <i class="far fa-clock"></i> {{ .ReadingTime }} Minuten Lesezeit
  </div>
</div>
<div class="blogcontent">
        {{ .Content }}
</div>

{{ partial "js.html" . }}

</html>
