<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

{{ partial "head.html"  }}
{{ partial "nav.html" . }}
{{ $baseurl := .Site.BaseURL }}
<div class="artcl-header">
  <div class="articl-heading">
    {{ .Title }}
  </div>
  <div style="font-size:15px;">
    {{ if .Params.origlink }} <i class="fa fa-pencil"></i> <a target="_blank" href="{{ .Params.origlink }}">Originalbeitrag</a> <span style="display:inline-block; width: 20px"></span> {{ end }}
    <i class="fa fa-calendar"></i> {{ .Date.Format "2.1.2006" }} <span style="display:inline-block; width: 20px"></span>
    <i class="fa fa-clock-o"></i> {{ .ReadingTime }} Minuten Lesezeit
  </div>
</div>
<div class="blogcontent">
        {{ .Content }}
</div>

{{ partial "footer.html" . }}
{{ partial "js.html" . }}

</html>
