{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ range .Site.Data.publications }}
  <div class="portfolio-modal modal fade" id="publikation{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <p class="item-intro text-muted">{{ .title | markdownify }}</p>
              <h3>{{ .papertitle | markdownify }}</h3>
              <p><ul style="list-style-type:none;text-align:left;">
                <li>{{ $.Site.Params.portfolio.modal.publishedin | markdownify }} {{ .date }} {{ if .coauth }} {{ $.Site.Params.portfolio.modal.togetherwith | markdownify }} {{ .coauth | markdownify }} {{ end }} in {{ .journal }}</li>
                <li>{{ with $.Site.Params.portfolio.modal.downlad }}{{ . | markdownify }}{{ end }}: <a target="_blank" href="{{ .doi }}"><i class="fa fa-external-link"></i> {{ .doi }}</a></li>
              </ul></p>
              {{ $url := printf "img/portfolio/%s" .img }}
              <img class="img-responsive img-centered" src="{{ $url | absURL }}" alt="" width="150px" style="float:right;padding:15px;">
              <p style="text-align:justify">{{ .description | markdownify }}</p>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> {{ with $.Site.Params.portfolio.modal.buttonText }}{{ . }}{{ end }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
