{{ "<!-- Posts -->" | safeHTML }}
<section id="posts">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.posts.title }}{{ . }}{{ end }}</h2>
      </div>
    </div>

  <div class="row text-block">
        {{ range (.Paginator 3).Pages }}
        <div class="col-lg-4 col-md-3 col-sm-2">
            <div class="text-muted">
                <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                <div style="text-align:justify;padding:9px">{{ .Summary }}</div>
            </div>
        </div>
        {{ end }}
  </div>

  <div style="padding:20px;">
    <ul style="list-style-type:none;text-align:left;">
    <li>Weitere Beiträge:</li>
    {{ range (after 3 .Site.Pages) }}{{ if eq .Type "blog" }} <li> <a href="{{ .Permalink }}">{{ .Title }}</a> </li> {{ end }}{{ end }}
  </ul>
</div>
</div>
</section>
