{{ "<!-- Posts -->" | safeHTML }}
<section id="posts">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.posts.title }}{{ . }}{{ end }}</h2>
        <h3 class="section-subheading text-muted">{{ with .Site.Params.portfolio.subtitle }}{{ . | markdownify }}{{ end }}</h3>
      </div>
    </div>

  <div class="row text-block">
        {{ $paginator := .Paginate (where .Site.Pages "Section" "blog") 3 }}
        {{ range $paginator.Pages }}
        <div class="col-md-4">
            <div class="text-muted">
                <h5><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
                <div style="text-align:justify;padding-right:15px;padding-bottom:20px">{{ .Summary }}</div>
            </div>
        </div>
        {{ end }}
  </div>

  <div class="posts-list">
    <ul>
    <div class="posts-more">{{ with .Site.Params.posts.morepost }}{{ . }}{{ end }}</div>
    {{ if gt (len (where .Site.Pages "Section" "blog")) 3 }}
    {{ range (after 4 .Site.Pages) (where .Site.Pages "Section" "blog") }}<li> <a href="{{ .Permalink }}">{{ .Title }}</a> </li> {{ end }}{{ end }}
  </ul>
</div>
</div>
</section>
